<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>
<body>
  <div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-cloud"></span> Upload hunt</h1>
        <a href="/auth/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="well">
              <p>
                <img src="<% groups.original.data %>">
              </p>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost');
  socket.emit('page', 'someone','original');
</script>
</body>
</html>